

@media screen and (max-width: 928px){
    nav {
        flex-direction: column;
    }
    .logo {
        justify-content: center;
        margin: 12px 0;
    }
    nav ul {
        justify-content: center;
    }
    .search {
        margin: 10px;
    }
    .card-item {
        width: 14vw;
    }
    .slider {
        height: 23vh;
    }
}
